<html>
  <head>
    <title>Lista de productos</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>
  <body>
    <form action="/search" method="get">
        <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Buscar articulo por Nombre:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
        <!-- <div class="form-group col-sm-4">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre">
          <button type="submit" class="btn btn-primary">Buscar</button>
        </div> -->
      </form>
      
  </body>
</html>